version: '3'

services:
  api-server:
    build:
      context: .
      dockerfile: docker/api_server.Dockerfile
    image: christianhilscher/api_server:latest
    ports:
      - "80:5000"
    networks:
      - common_network

networks:
  common_network:
    driver: bridge
