train_data_path: "/data/datatraining.txt"
# test_data_pat: "/data/datatest.txt"
test_data_pat: "~/Downloads/data/datatest.txt"
model_path: "/models"

features:
  - "Light"

target: "Occupancy"

thresholds:
  accuracy: 0.95
  precision: 0.9
  recall: 0.9
  f1-score: 0.8