name: Deployment Workflow

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/api_server.Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/api_server:${{ github.sha }}
          cache-from: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/api_server:cache
          cache-to: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/api_server:cache
      
      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker stop $(docker ps -q)
            docker system prune -af
            docker network prune -f
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/api_server:${{ github.sha }}
            docker network create docker_network
            docker run -d --restart always \
            --network docker_network \
            --name api-server \
            -p 80:5000 \
            ${{ secrets.DOCKERHUB_USERNAME }}/api_server:${{ github.sha }}


