name: CI

on:
  workflow_dispatch:
  pull_request:

jobs:
  build_docker_images:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: [api_server, drift_monitor, retrain]

    steps:

      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/${{ matrix.image }}.Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.image }}:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.image }}:${{ github.sha }}
          cache-from: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.image }}:cache
          cache-to: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.image }}:cache

  run_linting_and_tests:
    needs: build_docker_images
    runs-on: ubuntu-latest
    steps:
      - name: Linting
        run: echo "Linting should happen here"

      - name: Run Tests
        run: echo "Tests should be executed here"