name: Drift Monitor

on:
  push

jobs:
  check-file:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Run File Check Container on EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/api_server:latest
            docker run --rm -e GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} ${{ secrets.DOCKERHUB_USERNAME }}/drift_monitor:latest
