name: PR Automation Workflow

on:
  pull_request:
    branches: 
      - main
    types: [opened, synchronize, reopened]

jobs:
  automate-pr-tasks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Dummy Tests
        run: |
          # Add your test commands here
          echo "Running tests..."
          # Example: ./run-tests.sh

      - name: Merge PR into Master
        if: success()
        run: |
          gh pr merge ${{ github.event.pull_request.number }} --repo ${{ github.repository }} --admin --rebase
        env:
          GITHUB_TOKEN: ${{ secrets.GIT_TOKEN }}
