name: Model Retraining

on:
  workflow_dispatch:

jobs:
  train-and-upload-model:
    runs-on: ubuntu-latest
    outputs:
      date: ${{ steps.vars.outputs.date }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Generate date identifier
      id: vars
      run: echo "::set-output name=date::$(date +%Y%m%d%H%M%S)"

    - name: SSH to EC2 and Run Docker
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          docker pull ${{ secrets.DOCKERHUB_USERNAME }}/retrainer:latest
          docker run -e IDENTIFIER=${{ steps.vars.outputs.date }} -v /home/ec2-user/models:/models ${{ secrets.DOCKERHUB_USERNAME }}/retrainer:latest

    - name: Copy model from EC2 to GitHub Runner
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "/home/ec2-user/models/model-${{ steps.vars.outputs.date }}.pkl"
        target: "${{ github.workspace }}"

    - name: Upload model as artifact
      uses: actions/upload-artifact@v2
      with:
        name: model-${{ steps.vars.outputs.date }}
        path: ${{ github.workspace }}/model-${{ steps.vars.outputs.date }}.pkl


  process-model:
    needs: train-and-upload-model
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Download artifact
      uses: actions/download-artifact@v2
      with:
        name: model-${{ needs.train-and-upload-model.outputs.date }}

    - name: Auto-commit model file
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Add new model based on date ${{ needs.train-and-upload-model.outputs.date }}
        branch: model-update-${{ needs.train-and-upload-model.outputs.date }}
        file_pattern: model-${{ needs.train-and-upload-model.outputs.date }}.pkl

    - name: Create Pull Request
      uses: repo-sync/pull-request@v2
      with:
        github_token: ${{ secrets.GIT_TOKEN }}
        pr_title: "New Model Update: ${{ needs.train-and-upload-model.outputs.date }}"
        pr_body: "This PR includes the newly trained model."
        destination_branch: "main"
        source_branch: "model-update-${{ needs.train-and-upload-model.outputs.date }}"

