name: Model Retraining

on:
  workflow_dispatch:

# on:
#   issues:
#     types: [opened, reopened]

jobs:
  train-and-upload-model:
    runs-on: ubuntu-latest
    outputs:
      file_id: ${{ env.file_id }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Get Issue Number
      id: issue-info
      run: echo "issue_number=${{ github.event.issue.number }}" >> $GITHUB_ENV

    - name: Generate date identifier
      id: vars
      run: echo "file_id::$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV

    - name: SSH to EC2 and Run Docker
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          docker pull ${{ secrets.DOCKERHUB_USERNAME }}/retrainer:latest
          docker run -e IDENTIFIER=${{ env.file_id }} -v /home/ec2-user/models:/models ${{ secrets.DOCKERHUB_USERNAME }}/retrainer:latest

    - name: Install SSH
      run: sudo apt-get update && sudo apt-get install -y ssh

    - name: Setup SSH Key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa

    - name: Copy file from EC2
      run: |
        scp -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa ${{ secrets.EC2_USERNAME }}@${{ secrets.EC2_HOST }}:/home/ec2-user/models/model-${{ env.file_id }}.pkl $GITHUB_WORKSPACE/

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: model-${{ env.file_id }}
        path: ${{ github.workspace }}


  process-model:
    needs: train-and-upload-model
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.GIT_TOKEN }}

    - name: Create Artifact Directory
      run: mkdir -p ${{ github.workspace }}/artifacts

    - name: Download Artifacts
      uses: actions/download-artifact@v4
      with:
        path: ${{ github.workspace }}/artifacts/
        name: model-${{ needs.train-and-upload-model.outputs.file_id }}

    - name: Move and Rename Model File
      run: mv ${{ github.workspace }}/artifacts/model-${{ needs.train-and-upload-model.outputs.file_id }}.pkl ${{ github.workspace }}/models/model.pkl

    - name: List files in models directory
      run: ls -l models/


    - name: Auto-commit model file
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: Add new model based on date ${{ needs.train-and-upload-model.outputs.file_id }}
        branch: model-update-${{ needs.train-and-upload-model.outputs.file_id }}
        file_pattern: models/model.pkl
        create_branch: true

    - name: Create Pull Request
      run: |
        gh pr create \
          --title "New Model Update: ${{ needs.train-and-upload-model.outputs.file_id }}" \
          --body "This PR includes the newly trained model. Linked Issue: #${{ env.issue_number }}" \
          --base main \
          --head model-update-${{ needs.train-and-upload-model.outputs.file_id }}
      env:
        GITHUB_TOKEN: ${{ secrets.GIT_TOKEN }}

